* {
  font-family: Raleway;
}

.container {
  /** Sobre escrituras del CARD **/
}

.container .card-body {
  text-align: center;
  color: black;
}

.container .card-border {
  border-color: transparent;
  /** Animaciones de las CARD **/
}

.container .card-border img {
  transition: all 0.2s ease-in-out;
}

.container .card-border img:hover {
  transform: scale(1.1);
}

header {
  background: #557f7d;
  justify-content: space-between;
  /* Boostrap sobre-escritura
    evitamos un espacio extra derecha */
  /*
   Sobre escritura del AZUL del link de BS
  */
}

header .row {
  margin: 0px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header .img {
  display: inline-block;
}

header .home_titulo {
  text-align: center;
  margin: 20px;
  color: #557f7d;
  font-size: 300%;
}

header .logo_organica {
  width: 50px;
  margin: 6px;
}

header .navegador_botones_link:hover {
  color: #0a58ca;
}

header .nav-link {
  color: #fff;
}

header justify-content-end {
  justify-content: flex-end !important;
}

body {
  -webkit-animation: fadeInAnimation ease 2s;
  animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.css_grid_form_container {
  padding-left: 3%;
  padding-top: 3%;
}

.css_grid_form {
  display: grid;
  grid-template-rows: 15% 15% 15% 20% 15%;
  grid-template-columns: 20% 50%;
  -moz-column-gap: 5px;
  column-gap: 5px;
  row-gap: 15px;
}

.css_grid_form_text_area {
  grid-column: 1/3;
}

.css_grid_form_buttons {
  grid-column: 1/3;
}

.container_bajopantalla {
  min-height: 90vh;
}

.mapcentro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  -webkit-margin-end: 200px;
  margin-inline-end: 200px;
  margin-left: 1050px;
  position: absolute;
  top: 420px;
}

.arquitectas {
  margin-bottom: 35px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea a la izquierda */
  padding: 20px;
  margin-top: 80px; /* Ajusta el margen superior */
  margin-left: 60px; /* Ajusta el margen izquierdo */
}

.contact-item {
  margin-bottom: 20px; /* Espacio entre los elementos */
}

.contact-item strong {
  font-weight: bold;
}

.project-description {
  font-size: 16px;
  padding-top: 15px;
}

/** ESTILOS DEL FOOTER **/
.footer_texto {
  text-align: center;
  color: #fff;
}

/* TODO- A renombrar como "letra-copyright*/
.letra {
  font-size-adjust: 10px;
}

/* Sticky footer styles
 -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  /* Set the fixed height of the footer here */
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #557f7d;
  color: #fff;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.redes li {
  padding: 10px;
  margin-top: 0%;
  list-style: none;
}

.redes ul {
  display: flex;
}

.redes {
  display: flex;
  justify-content: end;
} 

/*# sourceMappingURL=estilo.css.map */
