* {
  font-family: Raleway; }

body {
  margin: 0px; }

header {
  background: #557f7d;
  justify-content: space-between;
  /*
  Sobre escritura del AZUL del link de BS
 */
  /** Estilos de la pagina: CONTACTO **/ }
  header a {
    color: #fff;
    text-decoration: none; }
  header .img {
    display: inline-block; }
  header .home_titulo {
    text-align: center;
    margin: 20px;
    color: #557f7d;
    font-size: 300%; }
  header .logo_organica {
    width: 50px;
    margin: 6px; }
  header .navegador_botones_link:hover {
    color: #0a58ca; }
  header .nav-link {
    color: #fff; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos a los extremos (izquierda y derecha) */
    align-items: center;
    /* Centra verticalmente los elementos en el navbar */
    background-color: #557f7d;
    color: #fff;
    padding: 10px;
    height: 30px; }
  header .navegador_botones {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  header .navegador_botones li {
    margin-left: 20px; }
  header .navegador_botones li:first-child {
    margin-left: 0; }
  header .navegador_botones a {
    color: #fff;
    text-decoration: none; }
  header justify-content-end {
    justify-content: flex-end !important; }

.propiedades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /**  Sobre escrituras del CARD **/ }
  .propiedades .propiedad {
    display: flex;
    flex-direction: column; }
  .propiedades .card-title a:link {
    font-size: 30px;
    background-color: transparent;
    color: #000000;
    text-decoration: none; }
  .propiedades .card-title a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline; }
  .propiedades .card-body {
    text-align: center;
    color: black; }
  .propiedades .card-border {
    border-color: transparent; }
  .propiedades justify-content-end {
    justify-content: flex-end !important; }

.css_grid_form_container {
  padding-left: 3%;
  padding-top: 3%; }
  .css_grid_form_container .css_grid_form {
    display: grid;
    grid-template-rows: 15% 15% 15% 20% 15%;
    grid-template-columns: 20% 50%;
    column-gap: 5px;
    row-gap: 15px; }
  .css_grid_form_container .css_grid_form_text_area {
    grid-column: 1 / 3; }
  .css_grid_form_container .css_grid_form_buttons {
    grid-column: 1 / 3; }

/** ESTILOS DEL FOOTER **/
.footer_texto {
  text-align: center;
  color: #fff; }

.barra {
  background-color: #557f7d;
  height: 100px;
  color: #fff;
  text-align: center;
  padding: 30px; }

/* TODO- A renombrar como "letra-copyright*/
.letra {
  font-size-adjust: 10px; }

/* Sticky footer styles
 -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #557f7d;
  color: #fff; }

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

code {
  font-size: 80%; }
