/** ESTILOS DEL FOOTER **/

.footer_texto {
  text-align: center;
  color: $fondo2;
}

/* TODO- A renombrar como "letra-copyright*/
.letra {
  font-size-adjust: 10px;
}


/* Sticky footer styles
 -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  
  bottom: 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  /* Set the fixed height of the footer here */
  
  line-height: 60px;
  /* Vertically center the text there */
  background-color: $fondo1;
  color: $fondo2;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
  padding: 60px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.redes li{
padding: 10px;
margin-top: 0%;
}

.redes ul{
  display: flex;
}

.redes{
  display: flex;
  justify-content: end;
}
