
 /*.footer {
     background-color: black;
     color: #fefefe;
     position: fixed;
     width: 100%;
     bottom: 0;
     left: 0;
 }*/

.barra {
    background-color: #557f7d;
    height: 100px;
    color: white;
    text-align: center;
    padding: 30px; 
}
.letra{
    font-size-adjust: 10px;
}