/* Estilos para teléfonos móviles (ancho de pantalla menor o igual a 480px) */
@media only screen and (max-width: 480px) {

    .arquitectas{
        img{
            width: 100%
            }
        }

    .css_grid_form {
        grid-template-columns: 1fr;
    }

    .mapcentro {
        justify-content: center;
        flex-direction: column;
    }
  
    .mapcentro div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:10px;
    }
}